In [1]:
import numpy as np
import pandas as pd

In [2]:
my_list = [1,2,3,4]
labels = ['a','b','c','d']
d = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [4]:
pd.Series(my_list, labels)

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
ser = pd.Series(d)

In [7]:
ser['a']

10

In [11]:
pd.DataFrame(ser)

    0
a  10
b  20
c  30
d  40

In [9]:
df = pd.DataFrame(np.random.randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])

In [10]:
df

          W         X         Y         Z
A -0.119170  1.528489  0.347623  0.234297
B -0.100641 -0.185148  2.609226 -0.923681
C -0.782091  1.606713  0.194760 -0.533766
D -0.897796  0.325631 -0.266518 -0.985546
E  0.831879  0.517533  1.695521  0.813965

In [12]:
df['new'] = df['W'] = df['Y']

In [13]:
df

          W         X         Y         Z       new
A  0.347623  1.528489  0.347623  0.234297  0.347623
B  2.609226 -0.185148  2.609226 -0.923681  2.609226
C  0.194760  1.606713  0.194760 -0.533766  0.194760
D -0.266518  0.325631 -0.266518 -0.985546 -0.266518
E  1.695521  0.517533  1.695521  0.813965  1.695521

In [16]:
df.drop('new', 1, inplace=True)

In [17]:
 df

          W         X         Y         Z
A  0.347623  1.528489  0.347623  0.234297
B  2.609226 -0.185148  2.609226 -0.923681
C  0.194760  1.606713  0.194760 -0.533766
D -0.266518  0.325631 -0.266518 -0.985546
E  1.695521  0.517533  1.695521  0.813965

In [18]:
df.drop('E')

          W         X         Y         Z
A  0.347623  1.528489  0.347623  0.234297
B  2.609226 -0.185148  2.609226 -0.923681
C  0.194760  1.606713  0.194760 -0.533766
D -0.266518  0.325631 -0.266518 -0.985546

In [20]:
df[['W','X']]

          W         X
A  0.347623  1.528489
B  2.609226 -0.185148
C  0.194760  1.606713
D -0.266518  0.325631
E  1.695521  0.517533

In [21]:
df.loc['B']

W    2.609226
X   -0.185148
Y    2.609226
Z   -0.923681
Name: B, dtype: float64

In [23]:
df.iloc[2]

W    0.194760
X    1.606713
Y    0.194760
Z   -0.533766
Name: C, dtype: float64

In [24]:
df.loc['B', 'Y']

2.6092259269252085

In [26]:
df.loc[['A','B'], ['W','Y']]

          W         Y
A  0.347623  0.347623
B  2.609226  2.609226